<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.mp.nshare.lottery.mapper.NshareLottteryIssuePrizeMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  nshare_lotttery_issue_prize 
		WHERE
			 issue_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.mp.nshare.lottery.entity.NshareLottteryIssuePrize">
		SELECT * 
		FROM  nshare_lotttery_issue_prize
		WHERE
			 issue_id = #{mainId} 	</select>
</mapper>
