<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.mp.tlearn.user.mapper.TlUserSubIdiomMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  tl_user_sub_idiom 
		WHERE
			 user_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.mp.tlearn.user.entity.TlUserSubIdiom">
		SELECT * 
		FROM  tl_user_sub_idiom
		WHERE
			 user_id = #{mainId} 	</select>
</mapper>
